html, body, div, span, canvas { margin:0; padding:0; }

#background {
    overflow: hidden;
    position: fixed;
    height: auto;
    width: auto;
    background: -o-linear-gradient(top, #000, #257eb7);
    background: -ms-linear-gradient(top, #000, #257eb7);
    background: -moz-linear-gradient(top, #000, #257eb7);
    background: -webkit-linear-gradient(top, #000, #021522);
    background: linear-gradient(top, #000, #257eb7);	   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}

#container {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

#header {
    z-index: 1;
    width: 100%;
    font-family: sans-serif;
    float: right;
    text-align: right;
    margin-right: 1%;
    margin-block-end: 1%;
}

#pixie {
    position: absolute;
    top: 0;
    left: 0;
}

img.logo {
    max-width: 75%;
    max-height: 75%;
}

img.disc {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.logo {
    margin-block-end: 3%;
}

.md-form.mt-0 {
    margin-block-end: 3%;
}

.container-fluid {
    font-family: sans-serif;
    margin-block-end: 3%;
    border: "1px solid #cecece";
    border-block-color: black;
}